{% extends "base.html" %}
{% load article_tags %}
{% block headtitle %}{{ event.title }}{% endblock %}
{% block content %}
    <div class="single">
        <div class="single-top">
            <div class="text-in">
                <div class="single-men">
                    <h5>{{ event.title }}</h5>

                    <div class="row">
                        <div class="col-md-2">
                            <img src="{{ event.image.url }}" class="img-responsive" alt=""/>
                        </div>
                        <div class="col-md-10">


                            <div class="row">
                                <div class="col-md-2">
                                    <strong><p class="event-date">Start: {{ event.start_date|date:"DATE_FORMAT" }} </p>
                                    </strong>
                                </div>
                                <div class="col-md-2">
                                    <strong><p class="event-date">End: {{ event.end_date|date:"DATE_FORMAT" }} </p>

                                    </strong>
                                </div>
                                <div class="col-md-7">
                                </div>
                            </div>
                            {% if even.author %} by
                                <h4>
                                    {{ event.author|authordisplay }}
                                </h4>
                            {% endif %}
                            {% autoescape off %}
                                {{ event.description|linebreaks }}
                            {% endautoescape %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
