{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- anean -->
	<div class="anean-bottom">
		<div class="container">
			<div class="col-md-6">
				<div class="anean-1">
					<div class="anean-left">
						<img src="{% static 'main/images/img9.jpg'%}" class="img-responsive" alt="" />
					</div>
					<div class="anean-right">
						<h4>Aenean non miac</h4>
						<span>- Nunce element</span>
						<p>Osteger non semper nunc. Nam lacus diam, dignissim eu lobortis sit amet, ultrices sit . </p>
					</div>
						<div class="clearfix"></div>
				</div>
				<div class="anean-1">
					<div class="anean-left">
						<img src="{% static 'main/images/img10.jpg'%}" class="img-responsive" alt="" />
					</div>
					<div class="anean-right">
						<h4>Civamus et diam sed </h4>
						<span>- Pharetra sit amet</span>
						<p>Teger non semper nunc. Nam lacus diam, dignissim eu lobortis sit amet, ultrices sit . </p>
					</div>
						<div class="clearfix"></div>
				</div>
				<div class="anean-1">
					<div class="anean-left">
						<img src="{% static 'main/images/img7.jpg'%}" class="img-responsive" alt="" />
					</div>
					<div class="anean-right">
						<h4>Morbi ac molestie</h4>
						<span>-Tincidunt fermen</span>
						<p>Josteger non semper nunc. Nam lacus diam, dignissim eu lobortis sit amet, ultrices sit . </p>
					</div>
						<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-3 maece">
				<h4>Maecenas a hendrerit</h4>
					<ul>
						<li><a href="#"><span> </span>Nam at urna quis lacus utre </a></li>
						<li><a href="#"><span> </span>Posuere justo velitet laotinoc </a></li>
						<li><a href="#"><span> </span>Donec egestas diam sed odioti</a></li>
						<li><a href="#"><span> </span>Integer eu nibh vitae massa</a></li>
						<li><a href="#"><span> </span>Cras vehicula nunc sed umb</a></li>
						<li><a href="#"><span> </span>Quisque non risus dui, vel pos</a></li>
						<li><a href="#"><span> </span>Aenean nec diam libero, sum</a></li>
						<li><a href="#"><span> </span>Donec egestas diam sed odioti</a></li>
						<li><a href="#"><span> </span>Integer eu nibh vitae massa</a></li>
					</ul>
			</div>
			<div class="col-md-3">
				<div class="anean-1">
					<div class="anean-left">
						<img src="{% static 'main/images/img8.jpg'%}" class="img-responsive" alt="" />
					</div>
					<div class="anean-right">
						<h4>Siooni</h4>
						<p>Osteger non semper nunc. Nam lacus diam, dignissim  </p>
					</div>
						<div class="clearfix"></div>
						<p>Donec faucibus sem a dolor condimentum, eget commodo lacus vehicula ellentesque id mauris vehicula, porttitor augue vitae, elementum.</p>
						<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatu</p>
						<a href="#" class="more">Read More</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}