{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="duis">
        <div class="down">
            <a href="#contact" class="scroll" "=""><img src="{% static '/images/dwnar.png' %}" class="img-responsive"
                                                        alt=""/></a>
        </div>
    </div>
        <div class="container">
            <h2>Duis felis liberomollis non</h2>

            <div class="duis-top">
                <div class="col-md-6 duis-1">
                    <div class="duis-left">
                        <i class="setting"></i>
                    </div>
                    <div class="duis-right">
                        <h5>Tate ultrices semper illus</h5>
                    </div>
                    <div class="clearfix"></div>
                    <p>nteger non semper nunc. Nam lacus diam, dignissim eu lobortis sit amet, ultrices sit amet lectus.
                        Praesent enim massa, ultrices ac elit vel, commodo ullamcorper elit. Quisque ac magna tellus.
                        Cras eu elementum sem. </p>
                    <a href="#" class="more">Read More</a>
                </div>
                <div class="col-md-6 duis-1">
                    <div class="duis-left">
                        <i class="leaf"></i>
                    </div>
                    <div class="duis-right">
                        <h5>Join ltrices semper illus</h5>
                    </div>
                    <div class="clearfix"></div>
                    <p>Teger non semper nunc. Nam lacus diam, dignissim eu lobortis sit amet, ultrices sit amet lectus.
                        Praesent enim massa, ultrices ac elit vel, commodo ullamcorper elit. Quisque ac magna tellus.
                        Cras eu elementum sem. </p>
                    <a href="#" class="more">Read More</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="duis-top">
                <div class="col-md-6 duis-1">
                    <div class="duis-left">
                        <i class="cup"></i>
                    </div>
                    <div class="duis-right">
                        <h5>Lorem ipsum semper illus</h5>
                    </div>
                    <div class="clearfix"></div>
                    <p>Eger non semper nunc. Nam lacus diam, dignissim eu lobortis sit amet, ultrices sit amet lectus.
                        Praesent enim massa, ultrices ac elit vel, commodo ullamcorper elit. Quisque ac magna tellus.
                        Cras eu elementum sem. </p>
                    <a href="#" class="more">Read More</a>
                </div>
                <div class="col-md-6 duis-1">
                    <div class="duis-left">
                        <i class="gift"></i>
                    </div>
                    <div class="duis-right">
                        <h5>Trices semper illus vivamus</h5>
                    </div>
                    <div class="clearfix"></div>
                    <p>Osteger non semper nunc. Nam lacus diam, dignissim eu lobortis sit amet, ultrices sit amet
                        lectus. Praesent enim massa, ultrices ac elit vel, commodo ullamcorper elit. Quisque ac magna
                        tellus. Cras eu elementum sem. </p>
                    <a href="#" class="more">Read More</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}