{% extends 'base.html' %}

{% block linkcontact %}active{% endblock %}
{% block headtitle %}Contact Us{% endblock %}

{% block content %}
    <div class="container">
        <div class="contact">
            <div class="contact-in">
                <h3>Contact</h3>

                <div class=" col-md-9 contact-left">

                    <form role="form" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div>
                            <span><input type="submit" value="SEND"></span>
                        </div>
                    </form>
                </div>

                <div class=" col-md-3 contact-right">
                    <h5>Company Information</h5>

                    <p>500 Lorem Ipsum Dolor Sit,</p>

                    <p>22-56-2-9 Sit Amet, Lorem,</p>

                    <p>USA</p>

                    <p>Phone:(00) 222 666 444</p>

                    <p>Fax: (000) 000 00 00 0</p>

                    <p>Email: <a href="mailto:info@example.com">info@mycompany.com</a></p>

                    <p>Follow on: <a href="#">Facebook</a>, <a href="#">Twitter</a></p>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d505145.6949089349!2d115.07157704999999!3d-8.455471450000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd22f7520fca7d3%3A0x2872b62cc456cd84!2sBali%2C+Indonesia!5e0!3m2!1sen!2sin!4v1418170815897"></iframe>
            </div>
        </div>
    </div>
    <!---->

{% endblock %}


