{% extends "base.html" %}
{% load staticfiles %}






{% block headtitle %}Home{% endblock %}

{% block head_styles %}
    <link rel="stylesheet" href="{% static 'Nivo-Slider/nivo-slider.css' %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% static 'Nivo-Slider/themes/default/default.css' %}" type="text/css" media="screen"/>
{% endblock %}

<!--Gallery-->
{% block base_gallery %}
    <div class="container">
        <!-- portfolio -->
        <div class="worksmain">
            <div class="section group">
                <div class="slider-wrapper theme-default">
                    <div id="slider" class="nivoSlider">
                        {% for photo_album in photos %}

                            <img src="{{ photo_album.thumbnail_slider.url }}"
                                 data-thumb="{{ photo_album.thumbnail_slider.url }}" alt=""
                                 title="{{ photo_album.description }}"/>
                        {% endfor %}
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}

<!--//End-Gallery-->
{% block body_scripts %}
    <script type="text/javascript" src="{% static 'Nivo-Slider/jquery.nivo.slider.js' %}"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('#slider').nivoSlider();
        });
    </script>
{% endblock %}
{% block content %}
    <!-- anean -->
    <div class="anean-bottom">
        <div class="container">
            <div class="col-md-6">

                {% for product in products %}
                    <div class="anean-1">
                        <div class="anean-left">
                            <img src="{{ product.image.url }}" class="img-responsive" alt=""/>
                        </div>
                        <div class="anean-right">
                            <h4><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h4>
                            <span>Price: {{ product.price }} MX</span>
                            {% autoescape off %}
                                <p> {{ product.description|truncatewords_html:10 }} </p>
                            {% endautoescape %}
                        </div>
                        <div class=" clearfix"></div>
                    </div>
                {% endfor %}

            </div>
            <div class="col-md-3 maece">
                <h4>Latest Blog Post</h4>
                <ul>
                    {% for article in articles %}
                        <li><a href="{{ article.get_absolute_url }}"><span> </span>{{ article.title|truncatechars:30 }}
                        </a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-3">
                <div class="anean-1">
                    <h4>Last Event</h4>
                    {% if event %}
                        <div class="anean-left">
                            <img src="{{ event.image.url }}" class="img-responsive" alt=""/>
                        </div>
                        <div class="anean-right">
                            <h4 class="title-event">{{ event.title }}</h4>

                            <strong><p class="event-date date-margen">Start
                                date: {{ event.start_date|date:"DATE_FORMAT" }} </p>
                            </strong>
                            <strong><p class="event-date date-margen">End
                                date: {{ event.end_date|date:"DATE_FORMAT" }} </p>
                            </strong>
                        </div>
                        <div class="clearfix"></div>

                        {% autoescape off %}
                            <p> {{ event.description|truncatewords_html:50 }} </p>
                        {% endautoescape %}

                        <a href="{{ event.get_absolute_url }}" class="more">Read More</a>
                    {% else %}
                        <p>There is no available event.</p>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}