{#{% extends "base.html" %}#}
{#{% block headtitle %}{{ photo.title }}{% endblock %}#}
{#{% block linkgallery %}active{% endblock %}#}
{#{% block content %}#}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'main/css/bootstrap.css' %}">
<link href="{% static 'main/css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
<div class="single">
    <div class="single-top">
        <div class="text-in">
            <div class="single-men">
                <div class="row">
                    <div class="col-md-8">
                        <h5>{{ youtubevideo.title }}</h5>
                        {% autoescape off %}
                            {{ youtubevideo.embed_code }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{#{% endblock %}#}