{% extends "base.html" %}
{% load i18n comments fluent_comments_tags article_tags %}

{% block headtitle %}{{ article.title }}{% endblock %}
{% block linkblog %}active{% endblock %}
{% block extrahead %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fluent_comments/css/ajaxcomments.css"/>
{% endblock %}

{% block scripts %}{{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}fluent_comments/js/ajaxcomments.js"></script>
{% endblock %}

{% block content %}
    <div class="single">
        <div class="single-top">
            <div class="text-in">
                <div class="single-men">
                    <img src="{{ article.image.url }}" class="img-responsive" alt="">
                    <h5>{{ article.title }}</h5>
                    <h4>{% trans "Posted on:" %}
                        {{ article.publication_date|date:"DATE_FORMAT" }}{% if article.author %} by
                            {{ article.author|authordisplay }}{% endif %}</h4>

                    <div class="border"></div>
                    {% autoescape off %}
                        {{ article.content|linebreaks }}
                    {% endautoescape %}

                    {% get_comment_count for article as comments_count %}

                    <div id="comments-wrapper">
                        <h3 class="has-comments-title">
                            {% blocktrans with entry_title=article.title count comments_count=comments_count %}
                                Comment ({{ comments_count }}) {% plural %}
                                Comments ({{ comments_count }}){% endblocktrans %}</h3>

                        <div class="border"></div>
                        {% if comments_count %}
                            {% render_comment_list for object %}

                            {% if not article|comments_are_open %}
                                <p class="comments-closed">{% trans "Comments are closed." %}</p>
                            {% else %}
                                <h3 class="no-comments-title">{% trans "Leave Your Opinion" %}</h3>
                                <div class="border"></div>
                            {% endif %}
                        {% else %}
                            {# no comments yet, invite #}
                            {% if article|comments_are_open %}
                                <h3 class="no-comments-title">{% trans "Leave Your Opinion" %}</h3>
                                <div class="border"></div>
                                {# include the empty list, so the <div> is there for Ajax code #}
                                {% render_comment_list for object %}

                            {% endif %}
                        {% endif %}
                    </div>

                    {% if article|comments_are_open %}
                        <div id="comments-form-wrapper">
                            {% render_comment_form for object %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
